body {
  background: linear-gradient(
    to bottom right,
    rgb(228, 228, 238),
    rgb(200, 200, 220)
  );
  margin: 0;
  padding: 0;
}

#main-header {
  background-color: rgb(130, 119, 224);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 0%;
}

#community-identity {
  display: flex;
}

#community-identity img {
  width: 70%;
  height: 16.88rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

#main-header nav {
  margin: auto;
  padding: 0;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0;
}

#main-header nav ul li {
  padding: 6px;
}

#main-header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 600;
  /* border-left: 1px solid #d1ced1; */
  border-left: 1px solid  rgba(255, 255, 255, .2);
  padding: 8px;
}

#side-drawer {
  background-color: rgb(63, 61, 61);
  position: fixed;
  display: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 19, 19);
}

#side-drawer li {
  margin: 0rem 0;
  width: 100%;
}

#side-drawer li a {
  display: block;
  border-bottom: solid 0.5px rgba(255, 255, 255, .2);
  border-top: solid 0.5px rgba(255, 255, 255, .2);;
  padding: 0 20px;
  min-height: 43px;
  line-height: 43px;
  transition: all .2s;
  color: rgb(240, 240, 240);
  font-size: 1.25rem;
  text-transform: capitalize;
  text-decoration: none;
}

#side-drawer li a:hover {
  background-color: rgb(87, 83, 83);
}

.menu-btn {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.menu-btn span {
  width: 100%;
  height: 4px;
  background-color: white;
}

#mental-health-catch-image {
  display: flex;
  justify-content: center;
  background-color: #c4c4c4;
}

#mental-health-catch-image img {
  padding: 30px 10px;
  width: 50rem;
}

#message {
  margin: auto 0;
  font-weight: 600;
  color: rgb(14, 14, 4);
  padding: 0 10px;
  font-size: 1.75rem;
  width: 18.75rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  width: 180px;
  font-size: 24px;
  padding: 5px 0;
  margin: 0 auto 0 auto;
  color: #072970;
}

h2::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;  
  height: 3px;
  background: linear-gradient(to right, rgba(208, 174, 51, 255) 50%, #ffff 50%);
}

#mission-vision ul {
  list-style: none;
  padding: 0;
}

#mission-vision ul li {
  font-size: 1rem;
}

#mission h2 {
  width: 7.5rem;
}

#vision h2 {
  width: 6.25rem;
}

#mission-vision ul li {
  margin: 10px auto;
  width: 70%;
}

#community-founders {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

#community-founders h2 {
  width: 9.4rem;
}

#founders-content {
  display: grid;
  grid-template-columns: 4fr 4fr;
  gap: 6rem;
  margin: 20px auto;
}

.founders ul {
  /* border: 1px solid rgb(240, 240, 240); */
  border: 2px solid  rgba(255, 255, 255, .2);
  border-radius: 6px;
  margin: 0;
  padding: 10px;
}

.founders ul li {
  list-style: none;
  text-align: center;
  text-transform: capitalize;
}

.founders ul li img {
  height: 28.2rem;
  width: 21.87rem;
  margin: 0 0 0.75rem 0;
}

.founders ul li p {
  background: #ffff;
  margin: 0;
  font-size: 1rem;
}

#services {
  width: 80%;
  margin: 32px auto;
}

#services h2 {
  width: 13.75rem;
}

#services-list {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  color: #ffff;
  font-size: 1rem;
}

h3 {
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  font-size: 1.1rem;
}

#services-list img {
  width: 15rem;
  height: 15rem;
  flex-shrink: 0;
  object-fit: cover;
  padding: 0 10px;
}

#program-1 {
  background-color: rgb(150, 143, 214);
  margin: 20px;
  /* box-shadow: 0px 0px 0px 3px rgb(240, 240, 240); */
  box-shadow: 0px 0px 0px 3px  rgba(255, 255, 255, .2);
  border-radius: 8px;
  width: 22.5rem;
}

#program-1 ul {
  margin: auto;
  padding: 0;
}

#program-2 {
  background-color: rgb(110, 98, 218);
  margin: 20px;
  /* box-shadow: 0px 0px 0px 3px rgb(240, 240, 240); */
  box-shadow: 0px 0px 0px 3px  rgba(255, 255, 255, .2);
  border-radius: 8px;
  width: 22.5rem;
}

#program-2 ul {
  margin: auto;
  padding: 0;
}

#program-3 {
  background-color: rgb(45, 27, 202);
  margin: 20px;
  /* box-shadow: 0px 0px 0px 3px rgb(240, 240, 240); */
  box-shadow: 0px 0px 0px 3px  rgba(255, 255, 255, .2);
  border-radius: 8px;
  width: 22.5rem;
}

#program-3 ul {
  margin: auto;
  padding: 0;
}

#services-list ul li {
  list-style: none;
  text-align: center;
}

#impact-stories h2 {
  width: 13.75rem;
}

#testimonials {
  width: 80%;
  margin: 20px auto;
}

#testimonials-content {
  display: flex;
  justify-content: center;
}

#testimonials p {
  display: flex;
  width: 21.88rem;
  padding: 0 32px;
  font-size: 1rem;
}

#volunteer-donations {
  text-align: center;
  margin: 50px auto;
}

#volunteer-donations h2 {
  width: 20rem;
}

.vd-buttons {
  margin: 20px auto;
  width: 25rem;
}

.vd-buttons button {
  padding: 6px;
  border-radius: 6px;
  border: none;
  text-transform: capitalize;
  margin: 0 20px;
  background-color: #ffff;
  cursor: pointer;
  color: rgb(92, 132, 196);
  height: 2.5rem;
  width: 6.25rem;
}

#past-speaches h2 {
  width: 12.5rem;
}

footer {
  background-color: rgb(130, 119, 224);
}

#about-goals-objectives {
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 1rem;
}

#about-goals-objectives ul {
  padding: 0 20px;
  margin: 16px 20px;
  /* border: 1px solid #ffff; */
  border: 1px solid  rgba(255, 255, 255, .2);
}

#about h2 {
  width: 8.75rem;
}

#goals h2 {
  width: 6.25rem;
}

#objectives h2 {
  width: 9.4rem;
}

#about-goals-objectives ul li {
  margin: 10px auto;
  color: #fffdff;
}

#booking-media {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  margin: 0 0 50px 0;
}

#service-booking {
  background-color: rgb(154, 146, 228);
  width: 30rem;
  /* height: 12.5rem; */
  padding: 20px;
  border-radius: 6px;
  margin: 0 20px;
  /* margin: auto; */
}
 
form {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
  /* margin: auto; */
}

#section-2 {
  display: none;
}

form h4{
  text-align: center;
  text-transform: uppercase;
  position: relative;
  /* width: 180px; */
  /* font-size: 24px; */
  padding: 5px 0;
  margin: 0 auto 0 auto;
  color: #072970;
}

form label {
  display: block;
  margin-top: 1rem;
}

form input,textarea,select {
  /* display: block; */
  height: 25px;
  width: 15rem;
  background-color: rgb(228, 228, 238);
  border: solid rgb(228, 228, 238);
  transition: border-color 0.3s ease;
  margin: 10px 0;
  border-radius: 4px;
}

textarea {
  
}

form input,textarea,select:focus {
  border: 4px solid rgb(240, 240, 240);
  outline: none;
}

.button {
  display: flex;
  border: none; 
  margin: auto;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}

/* #submit-booking-button {
  display: flex;
  border: none; 
  margin: auto;
  padding: 6px;
  border-radius: 4px;
  background-color: white;
  font-weight: 600;
} */

#confirmation {
  color: rgb(160, 121, 13);
}

#buttons {
  width: 200px;
  margin: 20px auto;
  display: flex;
}

#media {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#media-urls {
  width: 13.75rem;
  margin: 20px auto;
  /* border: 1px solid #fff; */
  border: 1px solid  rgba(255, 255, 255, .2);
  padding: 6px;
}

#media a {
  padding: 0 10px;
  color: #ffff;
}

footer p {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  color: #ffff;
}

/* footer p a {
  color: #ffff;
  text-decoration: none;
} */

/* MEDIA QUERIES */

@media (max-width: 64rem) {
  #main-header {
    padding: 0 2%;
  }

  #main-header nav ul li {
    padding: 0px;
  }

  #main-header ul li a {
    /* font-size: 0.8rem; */
  }

  #services {
    width: auto;
    margin: 32px auto;
  }

  #services h2 {
    /* width: 9rem; */
  }

  #services-list {
    /* font-size: 0.8rem; */
  }

  #services-list img {
    width: 12rem;
    height: 12rem;
  }

  #program-1 {
    margin: 10px auto;
    width: 18rem;
  }

  #program-2 {
    margin: 10px auto;
    width: 18rem;
  }

  #program-3 {
    margin: 10px auto;
    width: 18rem;
  }


  #about-goals-objectives {
    flex-direction: column;
    /* font-size: 0.8rem; */
    width: 90%;
  }
}

@media (max-width: 48rem) {
  #main-header {
    padding: 0 0%;
  }

  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
    padding: 1% 1%;
  }

  #community-identity img {
    width: 100%;
    padding: 0px 0;
    border-radius: 0px;
  }

  #mental-health-catch-image img {
    padding: 20px 0px;
    width: 30rem;
  }

  #message {
    padding: 0 2px;
    font-size: 1rem;
    width: 17rem;
  }

  #founders-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .founders ul li img {
    height: 28rem;
    width: 21.87rem;
    margin: 0 0 0.2rem 0;
  }

  #services-list {
    flex-direction: column;
    width: 360px;
    margin: 0 auto 0 auto;
  }

  #volunteer-donations {
    margin: 10px auto;
  }

  #about-goals-objectives {
    flex-direction: column;
  }
}

@media (max-width: 30rem) {
  .menu-btn {
    height: 2rem;
    margin: 10px 0;
    padding: 1% 2%;
  }

  .menu-btn span {
    width: 60%;
    height: 2px;
  }

  #side-drawer {
    top: 8%;
  }

  #side-drawer header {
    margin: 6px 0;
  }

  #side-drawer li a {
    font-size: 0.9rem;
  }

  #community-identity img {
    width: 100%;
    height: 9rem;
    padding: 0px 0;
    margin: 0;
    border-radius: 0;
  }

  #mental-health-catch-image img {
    padding: 20px 0px;
    width: 16rem;
  }

  #message {
    padding: 0 2px;
    font-size: 0.7rem;
    width: 17rem;
  }

  #mission h2 {
    width: 5.6rem;
  }

  #vision h2 {
    width: 4.5rem;
  }

  #mission-vision ul li {
    font-size: 0.8rem;
  }

  h2 {
    width: 150px;
    font-size: 1rem;
  }

  #community-founders h2 {
    width: 7rem;
  }

  .founders ul li img {
    height: 22rem;
    width: 18rem;
  }

  .founders ul li p {
    font-size: 0.8rem;
  }

  #services {
    width: auto;
    margin: 32px auto;
  }

  #services h2 {
    width: 9rem;
  }

  #services-list {
    font-size: 0.8rem;
  }

  #services-list img {
    width: 12rem;
    height: 12rem;
  }

  #program-1 {
    margin: 10px auto;
    width: 18rem;
  }

  #program-2 {
    margin: 10px auto;
    width: 18rem;
  }

  #program-3 {
    margin: 10px auto;
    width: 18rem;
  }

  #testimonials {
    width: 90%;
    margin: 20px auto;
  }

  #testimonials-content {
    display: flex;
    flex-direction: column;
  }

  #testimonials p {
    width: 21rem;
    padding: 0;
    font-size: 0.8rem;
  }

  #volunteer-donations h2 {
    width: 14rem;
  }

  .vd-buttons {
    width: 80%;
    margin: 20px auto;
  }
  
  .vd-buttons button {
    margin: 0 1rem;
    height: 2rem;
    width: 5.5rem;
  }

  #about-goals-objectives {
    flex-direction: column;
    font-size: 0.8rem;
    width: 90%;
  }
 
  #about h2 {
    width: 6rem;
  }
  
  #goals h2 {
    width: 5rem;
  }
  
  #objectives h2 {
    width: 7rem;
  }

  #booking-media {
    flex-direction: column;
    padding: 20px 10px;
  }

  #service-booking {
    width: 70%;
    margin: 0 auto;
  }

  h3 {
    width: 15rem;
    font-size: 0.8rem;
  }

  form input {
    margin: 10px auto;
  }

  #media-urls {
    padding: 2px;
  }

  footer p {
    font-size: 0.8rem;
  }
}
